/* body {
    background-image: url("https://media.istockphoto.com/vectors/abstract-white-background-vector-id1143662580?k=20&m=1143662580&s=612x612&w=0&h=crRMwRL1ekQZ9nMeaIFnehGBOdmT0KwIdAJiLU0n9CY=") ;
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
} */

